.tittle{
        width:100%
                Height:100%
        position: fixed
}
.h1{
  width: 50;
  color: Red;
}
.h2{
   width: 45
        colour: #0000AB;
}
.bordered {
  border: 2px solid black;
  padding: 10px;
  display: inline-block;
}
 .footer {
    background-color: #000;
    color: #fff;
    padding: 30px 0;
    width: 100%;
    margin-top: 60px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-name{
    background: linear-gradient(243deg, #FFD0EC 50%, #c89feb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.rights p {
    margin: 0;
}
.social-links a {
    font-size: 40px;
    margin-left: 50px;
}
