.tittle{
        width: 50
        position: fixed
}
.h1{
  width: 50;
  color: Red;
}
.h2{
   width: 45
        colour: #0000AB;
}
.bordered {
  border: 2px solid black;
  padding: 10px;
  display: inline-block;
}
.footer{
        background: black
        colour: white
}
